In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
path2data="/Users/luizaadelinaciucu/Work/TrackML/"
#df_hits=pd.read_csv(path2data+"event000021069-hits.csv")
eventNumber="000021069"

In [71]:
inputFileName=path2data+"/event"+eventNumber+"-hits.csv"
print("inputFileName",inputFileName)
df_hits_recon=pd.read_csv(inputFileName)

('inputFileName', '/Users/luizaadelinaciucu/Work/TrackML//event000021069-hits.csv')

In [72]:
inputFileName=path2data+"/event"+eventNumber+"-truth.csv"
print("inputFileName",inputFileName)
df_hits_truth=pd.read_csv(inputFileName)

('inputFileName', '/Users/luizaadelinaciucu/Work/TrackML//event000021069-truth.csv')

In [73]:
inputFileName=path2data+"/event"+eventNumber+"-particles.csv"
print("inputFileName",inputFileName)
df_particles=pd.read_csv(inputFileName)

('inputFileName', '/Users/luizaadelinaciucu/Work/TrackML//event000021069-particles.csv')

In [74]:
df_hits_recon.shape

(95224, 7)

In [75]:
df_hits_recon.head()

   hit_id        x          y       z  volume_id  layer_id  module_id
0       1 -96.0251 -11.043100 -1502.5          7         2          1
1       2 -57.1466  -5.425400 -1502.5          7         2          1
2       3 -83.1498  -9.277450 -1502.5          7         2          1
3       4 -70.7627 -11.261700 -1502.5          7         2          1
4       5 -73.3473   0.070458 -1502.5          7         2          1

In [76]:
df_hits_truth.shape

(95224, 9)

In [77]:
df_hits_truth.head()

,hit_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,351284413067165696,-96.0272,-11.042000,-1502.5,-0.252020,-0.055783,-3.89135,0.000011
1,2,220692736976617472,-57.1428,-5.446980,-1502.5,0.208659,-0.000115,-5.17925,0.000010
2,3,193656433244372992,-83.1380,-9.292630,-1502.5,-0.341028,-0.012671,-5.99884,0.000010
3,4,693574683580170240,-70.7448,-11.274200,-1502.5,-0.548888,-0.067574,-11.59180,0.000012
4,5,693560115051102208,-73.3581,0.071451,-1502.5,-1.455310,0.016571,-30.04180,0.000026

In [78]:
#from annoy import AnnoyIndex
#import random

In [79]:
#df_hits.head()

In [80]:
df_particles.shape

(9003, 10)

In [81]:
#df_truth.head()

In [82]:
#df_particles.tail()

In [83]:
del df_hits_truth['hit_id']

In [84]:
#df_hits.shape

In [85]:
df_hits_truth.shape

(95224, 8)

In [86]:
df_hits_truth.head()

,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,351284413067165696,-96.0272,-11.042000,-1502.5,-0.252020,-0.055783,-3.89135,0.000011
1,220692736976617472,-57.1428,-5.446980,-1502.5,0.208659,-0.000115,-5.17925,0.000010
2,193656433244372992,-83.1380,-9.292630,-1502.5,-0.341028,-0.012671,-5.99884,0.000010
3,693574683580170240,-70.7448,-11.274200,-1502.5,-0.548888,-0.067574,-11.59180,0.000012
4,693560115051102208,-73.3581,0.071451,-1502.5,-1.455310,0.016571,-30.04180,0.000026

In [87]:
#df_truth.shape

In [88]:
#df_particles.shape

In [89]:
df_hits = pd.concat([df_hits_recon, df_hits_truth], axis=1, sort=False)

In [90]:
#df=pd.concat([df_hits,df_truth],axis=1)

In [91]:
df_hits.shape

(95224, 15)

In [65]:
#df.head()

In [92]:
df_hits.head()

,hit_id,x,y,z,volume_id,layer_id,module_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,-96.0251,-11.043100,-1502.5,7,2,1,351284413067165696,-96.0272,-11.042000,-1502.5,-0.252020,-0.055783,-3.89135,0.000011
1,2,-57.1466,-5.425400,-1502.5,7,2,1,220692736976617472,-57.1428,-5.446980,-1502.5,0.208659,-0.000115,-5.17925,0.000010
2,3,-83.1498,-9.277450,-1502.5,7,2,1,193656433244372992,-83.1380,-9.292630,-1502.5,-0.341028,-0.012671,-5.99884,0.000010
3,4,-70.7627,-11.261700,-1502.5,7,2,1,693574683580170240,-70.7448,-11.274200,-1502.5,-0.548888,-0.067574,-11.59180,0.000012
4,5,-73.3473,0.070458,-1502.5,7,2,1,693560115051102208,-73.3581,0.071451,-1502.5,-1.455310,0.016571,-30.04180,0.000026

In [93]:
#def buildAnnoyIndex(data,metric="angular",ntrees=10):
    #f = len(data[0])
    #t = AnnoyIndex(f,metric)  
    #for i,d in enumerate(data):
        #t.add_item(i, d)
    #t.build(ntrees) # 10 trees
    #return t



#data=df[["x","y","z"]].values

#index=buildAnnoyIndex(data,metric="angular",ntrees=10)


#NB_BUCKET=5
#for i in range(NB_BUCKET):
    #n=random.choice(range(len(data)))
    
    #bucket_idx=np.array(index.get_nns_by_item(n,50))
    #bucket=df.iloc[bucket_idx]
    #plt.plot(bucket.x,bucket.y,"o")
    #plt.plot(0,0,"r+")
#plt.show()

In [94]:
BUCKET_SIZE=20
BUCKET_START=0
df_bucket=df_hits[BUCKET_START:BUCKET_START+BUCKET_SIZE]

In [95]:
df_bucket.shape

(20, 15)

In [96]:
df_bucket.head()

,hit_id,x,y,z,volume_id,layer_id,module_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,-96.0251,-11.043100,-1502.5,7,2,1,351284413067165696,-96.0272,-11.042000,-1502.5,-0.252020,-0.055783,-3.89135,0.000011
1,2,-57.1466,-5.425400,-1502.5,7,2,1,220692736976617472,-57.1428,-5.446980,-1502.5,0.208659,-0.000115,-5.17925,0.000010
2,3,-83.1498,-9.277450,-1502.5,7,2,1,193656433244372992,-83.1380,-9.292630,-1502.5,-0.341028,-0.012671,-5.99884,0.000010
3,4,-70.7627,-11.261700,-1502.5,7,2,1,693574683580170240,-70.7448,-11.274200,-1502.5,-0.548888,-0.067574,-11.59180,0.000012
4,5,-73.3473,0.070458,-1502.5,7,2,1,693560115051102208,-73.3581,0.071451,-1502.5,-1.455310,0.016571,-30.04180,0.000026

In [97]:
df_bucket

,hit_id,x,y,z,volume_id,layer_id,module_id,particle_id,tx,ty,tz,tpx,tpy,tpz,weight
0,1,-96.0251,-11.043100,-1502.5,7,2,1,351284413067165696,-96.0272,-11.042000,-1502.5,-0.252020,-0.055783,-3.89135,0.000011
1,2,-57.1466,-5.425400,-1502.5,7,2,1,220692736976617472,-57.1428,-5.446980,-1502.5,0.208659,-0.000115,-5.17925,0.000010
2,3,-83.1498,-9.277450,-1502.5,7,2,1,193656433244372992,-83.1380,-9.292630,-1502.5,-0.341028,-0.012671,-5.99884,0.000010
3,4,-70.7627,-11.261700,-1502.5,7,2,1,693574683580170240,-70.7448,-11.274200,-1502.5,-0.548888,-0.067574,-11.59180,0.000012
4,5,-73.3473,0.070458,-1502.5,7,2,1,693560115051102208,-73.3581,0.071451,-1502.5,-1.455310,0.016571,-30.04180,0.000026
5,6,-83.4740,1.129180,-1502.5,7,2,1,616997065959931904,-83.4787,1.105010,-1502.5,-0.488937,-0.021615,-8.70473,0.000009
6,7,-58.1014,-5.149460,-1502.5,7,2,1,747602623384780800,-58.1202,-5.148580,-1502.5,-0.838924,-0.055120,-21.11950,0.000017
7,8,-59.7223,2.597250,-1502.5,7,2,1,333274824921055232,-59.7189,2.573510,-1502.5,-0.436118,-0.005628,-11.64620,0.000010
8,9,-83.0065,-14.131200,-1502.5,7,2,1,450366010051002368,-83.0082,-14.125400,-1502.5,-0.206439,-0.054707,-3.23858,0.000010
9,10,-66.6130,-10.935100,-1502.5,7,2,1,580973766499106816,-66.6009,-10.956200,-1502.5,-0.212149,-0.008676,-4.42666,0.000011
10,11,-78.6731,-8.373430,-1502.5,7,2,1,576475664429875200,-78.6883,-8.353620,-1502.5,-2.070600,-0.194626,-39.49190,0.000032
11,12,-31.0244,-5.733150,-1502.5,7,2,1,0,-31.0255,-5.732630,-1502.5,-336418.000000,-297774.000000,-893394.00000,0.000000
12,13,-72.9722,-12.739600,-1502.5,7,2,1,22553113789464576,-72.9840,-12.742000,-1502.5,-0.743773,-0.140970,-15.79590,0.000014
13,14,-153.1200,-5.202160,-1502.0,7,2,2,774620304138829824,-153.1300,-5.211740,-1502.0,-0.198274,-0.050901,-2.12107,0.000008
14,15,-175.3990,-4.680510,-1502.0,7,2,2,423341663507709952,-175.4030,-4.660240,-1502.0,-0.473803,-0.060670,-4.38780,0.000006
15,16,-154.0750,-10.001800,-1502.0,7,2,2,0,-154.0750,-10.002000,-1502.0,201173.000000,169103.000000,-964849.00000,0.000000
16,17,-108.9920,-8.317480,-1502.0,7,2,2,743104246437642240,-108.9910,-8.295680,-1502.0,-0.343067,0.010092,-4.66779,0.000011
17,18,-169.7220,-10.724800,-1502.0,7,2,2,0,-169.7190,-10.736700,-1502.0,-180493.000000,-64163.000000,-981481.00000,0.000000
18,19,-107.9390,0.590619,-1502.0,7,2,2,770117804023087104,-107.9290,0.592554,-1502.0,-0.460727,0.038177,-6.31199,0.000010
19,20,-108.7020,-8.322680,-1498.0,7,2,3,743104246437642240,-108.6970,-8.304880,-1498.0,-0.342917,0.011139,-4.66828,0.000010

In [99]:
#for i in range(NB_BUCKET):
    #n=random.choice(range(len(data)))
    
    #bucket_idx=np.array(index.get_nns_by_item(n,20))
    #bucket=df.iloc[bucket_idx]
    #for k,v in bucket[["hit_id","x","y","z","particle_id"]].groupby("particle_id"):
        #print (v)
    #print ("-----")
    #print ("i")

In [100]:
df_bucket["particle_id"]

0     351284413067165696
1     220692736976617472
2     193656433244372992
3     693574683580170240
4     693560115051102208
5     616997065959931904
6     747602623384780800
7     333274824921055232
8     450366010051002368
9     580973766499106816
10    576475664429875200
11                     0
12     22553113789464576
13    774620304138829824
14    423341663507709952
15                     0
16    743104246437642240
17                     0
18    770117804023087104
19    743104246437642240
Name: particle_id, dtype: int64

In [101]:
#df

In [102]:
df_bucket["particle_id"]

0     351284413067165696
1     220692736976617472
2     193656433244372992
3     693574683580170240
4     693560115051102208
5     616997065959931904
6     747602623384780800
7     333274824921055232
8     450366010051002368
9     580973766499106816
10    576475664429875200
11                     0
12     22553113789464576
13    774620304138829824
14    423341663507709952
15                     0
16    743104246437642240
17                     0
18    770117804023087104
19    743104246437642240
Name: particle_id, dtype: int64

In [103]:
df_bucket.particle_id

0     351284413067165696
1     220692736976617472
2     193656433244372992
3     693574683580170240
4     693560115051102208
5     616997065959931904
6     747602623384780800
7     333274824921055232
8     450366010051002368
9     580973766499106816
10    576475664429875200
11                     0
12     22553113789464576
13    774620304138829824
14    423341663507709952
15                     0
16    743104246437642240
17                     0
18    770117804023087104
19    743104246437642240
Name: particle_id, dtype: int64

In [104]:
#tuple_most_common=list_tuple_most_common[0]
#tuple_most_common

In [105]:
df_bucket.particle_id.values

array([351284413067165696, 220692736976617472, 193656433244372992,
       693574683580170240, 693560115051102208, 616997065959931904,
       747602623384780800, 333274824921055232, 450366010051002368,
       580973766499106816, 576475664429875200,                  0,
        22553113789464576, 774620304138829824, 423341663507709952,
                        0, 743104246437642240,                  0,
       770117804023087104, 743104246437642240])

In [106]:
#particle_id_most_common=tuple_most_common[0]
#particle_id_most_common

In [107]:
#from collections import Counter
#print ( Counter(df.particle_id.values ) )

In [108]:
from collections import Counter

In [109]:
counter=Counter(df_bucket.particle_id.values)
counter

Counter({0: 3,
         22553113789464576: 1,
         193656433244372992: 1,
         220692736976617472: 1,
         333274824921055232: 1,
         351284413067165696: 1,
         423341663507709952: 1,
         450366010051002368: 1,
         576475664429875200: 1,
         580973766499106816: 1,
         616997065959931904: 1,
         693560115051102208: 1,
         693574683580170240: 1,
         743104246437642240: 2,
         747602623384780800: 1,
         770117804023087104: 1,
         774620304138829824: 1})

In [113]:
list_tuple_most_common=counter.most_common()
list_tuple_most_common

[(0, 3),
 (743104246437642240, 2),
 (351284413067165696, 1),
 (220692736976617472, 1),
 (747602623384780800, 1),
 (770117804023087104, 1),
 (693560115051102208, 1),
 (450366010051002368, 1),
 (580973766499106816, 1),
 (333274824921055232, 1),
 (693574683580170240, 1),
 (423341663507709952, 1),
 (576475664429875200, 1),
 (22553113789464576, 1),
 (774620304138829824, 1),
 (193656433244372992, 1),
 (616997065959931904, 1)]

In [114]:
tuple_most_common=list_tuple_most_common[0]
tuple_most_common

(0, 3)

In [115]:
particle_id_most_common=tuple_most_common[0]
particle_id_most_common

0

In [116]:
hit=df_bucket.iloc[7]
hit

hit_id         8.000000e+00
x             -5.972230e+01
y              2.597250e+00
z             -1.502500e+03
volume_id      7.000000e+00
layer_id       2.000000e+00
module_id      1.000000e+00
particle_id    3.332748e+17
tx            -5.971890e+01
ty             2.573510e+00
tz            -1.502500e+03
tpx           -4.361180e-01
tpy           -5.628240e-03
tpz           -1.164620e+01
weight         1.045220e-05
Name: 7, dtype: float64

In [117]:
hit_id=hit["hit_id"]
hit_id

8.0

In [118]:
particle_id=hit["particle_id"]
particle_id

3.332748249210552e+17

In [119]:
list_input=[]
list_output=[]

# loop over the hits in the bucket
for i in range(df_bucket.shape[0]):
    # we get all a dictionary of names of the columns to values for the i'th row as df_bucket.iloc[i]
    print "i",i,"hit_id",df_bucket.iloc[i]["hit_id"],"x",df_bucket.iloc[i]["x"],"y",df_bucket.iloc[i]["y"],"z",df_bucket.iloc[i]["z"],"particle_id",df_bucket.iloc[i]["particle_id"]
    # now fill the input list, but adding one at a time the values of x, y, z
    list_input.append(df_bucket.iloc[i]["x"])
    list_input.append(df_bucket.iloc[i]["y"])
    list_input.append(df_bucket.iloc[i]["z"])
    # now fill the output list 
    # check if our particle_id is the same as the most common one, if so, choose 1, if not choose 0
    if df_bucket.iloc[i]["particle_id"]==particle_id_most_common:
        output=1
    else:
        output=0
    # add the output to the list
    list_output.append(output)
# done for loop over all the hits in the bucket
# print out the list_input, filled with the x, y, z values
print "list_input",list_input
# let's make sure that it has three times number of elements like the bucket size
print "list_input has so many elements:",len(list_input)
# print out the list_output, filled with either 1 or 0
print "list_output",list_output
# let's make sure that it has the same number of elements like the bucket size
print "list_output has so many elements:",len(list_output)

i 0 hit_id 1.0 x -96.0251 y -11.0431 z -1502.5 particle_id 3.512844130671657e+17
i 1 hit_id 2.0 x -57.1466 y -5.4254 z -1502.5 particle_id 2.2069273697661747e+17
i 2 hit_id 3.0 x -83.1498 y -9.27745 z -1502.5 particle_id 1.93656433244373e+17
i 3 hit_id 4.0 x -70.7627 y -11.2617 z -1502.5 particle_id 6.935746835801702e+17
i 4 hit_id 5.0 x -73.3473 y 0.07045760000000001 z -1502.5 particle_id 6.935601150511022e+17
i 5 hit_id 6.0 x -83.47399999999999 y 1.1291799999999999 z -1502.5 particle_id 6.169970659599319e+17
i 6 hit_id 7.0 x -58.1014 y -5.1494599999999995 z -1502.5 particle_id 7.476026233847808e+17
i 7 hit_id 8.0 x -59.7223 y 2.59725 z -1502.5 particle_id 3.332748249210552e+17
i 8 hit_id 9.0 x -83.0065 y -14.1312 z -1502.5 particle_id 4.503660100510024e+17
i 9 hit_id 10.0 x -66.613 y -10.9351 z -1502.5 particle_id 5.809737664991068e+17
i 10 hit_id 11.0 x -78.6731 y -8.37343 z -1502.5 particle_id 5.764756644298752e+17
i 11 hit_id 12.0 x -31.0244 y -5.73315 z -1502.5 particle_id 0.0
i 12 hit_id 13.0 x -72.9722 y -12.7396 z -1502.5 particle_id 2.2553113789464576e+16
i 13 hit_id 14.0 x -153.12 y -5.20216 z -1502.0 particle_id 7.746203041388298e+17
i 14 hit_id 15.0 x -175.399 y -4.68051 z -1502.0 particle_id 4.2334166350770995e+17
i 15 hit_id 16.0 x -154.075 y -10.0018 z -1502.0 particle_id 0.0
i 16 hit_id 17.0 x -108.992 y -8.31748 z -1502.0 particle_id 7.431042464376422e+17
i 17 hit_id 18.0 x -169.722 y -10.7248 z -1502.0 particle_id 0.0
i 18 hit_id 19.0 x -107.939 y 0.590619 z -1502.0 particle_id 7.701178040230871e+17
i 19 hit_id 20.0 x -108.70200000000001 y -8.32268 z -1498.0 particle_id 7.431042464376422e+17
list_input [-96.0251, -11.0431, -1502.5, -57.1466, -5.4254, -1502.5, -83.1498, -9.27745, -1502.5, -70.7627, -11.2617, -1502.5, -73.3473, 0.07045760000000001, -1502.5, -83.47399999999999, 1.1291799999999999, -1502.5, -58.1014, -5.1494599999999995, -1502.5, -59.7223, 2.59725, -1502.5, -83.0065, -14.1312, -1502.5, -66.613, -10.9351, -1502.5, -78.6731, -8.37343, -1502.5, -31.0244, -5.73315, -1502.5, -72.9722, -12.7396, -1502.5, -153.12, -5.20216, -1502.0, -175.399, -4.68051, -1502.0, -154.075, -10.0018, -1502.0, -108.992, -8.31748, -1502.0, -169.722, -10.7248, -1502.0, -107.939, 0.590619, -1502.0, -108.70200000000001, -8.32268, -1498.0]
list_input has so many elements: 60
list_output [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]
list_output has so many elements: 20